@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
  background-color: hsl(0, 0%, 1%);
}

.App2{
  text-align: center;
  color: white  ; 
}

.container-stickers {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 4%;
  justify-content: center;
  padding: 0 5%;
}

.container-stickers div img {
  border-radius: 18px;
  box-shadow: rgb(255, 0, 255) 0px 1px 20px, rgb(0, 0, 255) 0px 10px 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

input[type="text"] {
  font-size: inherit;
  padding: 12px 20px;
  outline: none;
  border: solid 0px #e71818;
  border-radius: 20px;
  width: 300px;
  box-shadow: rgb(42, 9, 255) 0px 8px 24px;
}

.error {
  color: red;
}
